html>body {
}

body {
	font-family: verdana, helvetica, arial, sans-serif;
    min-width:26em;
    overflow-x:hidden;
    padding-top:6.5em;
}

div {
    box-sizing: border-box;
}

#header {
    position:fixed;
    top:0; left:0;
    background:#eee;
    border-bottom:1px solid #aaa;
    width:100%;
    margin:0;
    padding:7px;
}

#copyright {
    margin: -6px 0 10px;
    font-size: 9px;
}

#modules select {
    font-size: 10pt;
    max-width: 13em;
}

button {
    float: right;
    width: 1.7em;
    margin-left: 6px;
}

a {
    padding-left:3px;
    text-decoration:none;
    color:darkblue;
}

select {
    font-size:inherit;
}
