html>body {
	font-size: 15px; 
	font-size: 64.45%;
}

body {
	font-family: verdana, helvetica, arial, sans-serif;
    min-width:260px;
    overflow-x:hidden;
}

a {
    padding-left:3px;
    text-decoration:none;
    color:darkblue;
}
